<div class="container-fluid">
  <div class="row flex-nowrap">
      <div class="col-lg-2 col-md-3 col-sm-4  p-0 bg-blue">
          <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
              <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu"> 
                  <li>
                      <a routerLink="/users" class="nav-link px-0 align-middle">
                          <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Users</span></a>
                  </li>
                  <li>
                      <a routerLink="/units" class="nav-link px-0 align-middle">
                          <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Units</span> </a>
                  </li>
              </ul>
          </div>
      </div>
      <div class="col-lg-10 col-md-9 col-sm-8">
        <div class="p-3">
            <router-outlet></router-outlet> <!-- Component của Angular được render vào đây -->
        </div>
    </div>
  </div>
</div>

