
  
  <!-- Modal -->
  <div #modal class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
            <h3 [hidden]="submitted">Create Employee</h3>
            <div [hidden]="submitted"  style="width: 400px;">
              <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                  <!-- <div hidden> -->
                  
                <!-- </div> -->
                  <label for="fullName">Full Name</label>
                  @if (styleModal == "update") {
                    <input *ngIf="currentUser" formControlName="fullName" type="text"  class="form-control" id="fullName" required [(ngModel)]="currentUser.fullName" name="fullName" [ngClass]="{ 'is-invalid': chekform && f['fullName'].errors }">
                  } 
                  @else if(styleModal == "detail"){
                    <p>{{currentUser?.fullName}}</p>
                  }
                  @else {
                    <input formControlName="fullName" type="text"  class="form-control" id="fullName" required [(ngModel)]="employee.fullName" name="fullName"  [ngClass]="{ 'is-invalid': chekform && f['fullName'].errors }">
                  }
                  @if (chekform && f['fullName'].errors) {
                    <div class="invalid-feedback">
                      @if (f['fullName'].errors['required']) {
                      <div>Fullname is required</div>
                      }
                    </div>
                    }
                </div>
                
                <div class="form-group">
                  <label for="email">Email</label>
                  @if (styleModal == "update") {
                    <input *ngIf="currentUser" formControlName="email" type="text" class="form-control" id="email" required [(ngModel)]="currentUser.email" name="email">
                  } 
                  @else if(styleModal == "detail"){
                    <p>{{currentUser?.email}}</p>
                  }
                  @else {
                    <input formControlName="email" type="email" class="form-control" id="email" required [(ngModel)]="employee.email" name="email"  [ngClass]="{ 'is-invalid': chekform && f['email'].errors }">
                  }
                 
                  @if (chekform && f['email'].errors) {
                    <div class="invalid-feedback">
                      @if (f['email'].errors['required']) {
                      <div>Fullname is required</div>
                      }
                      @if (f['email'].errors['email']) {
                        <div>Email is invalid</div>
                        }
                    </div>
                    }
                  
                </div>
                <div class="form-group">
                    <label for="role">Role</label>
                    @if (styleModal == "update") {
                     
                      <input *ngIf="currentUser" formControlName="role" type="text" class="form-control" id="role" required [(ngModel)]="currentUser.role" name="role">
                    } 
                    @else if (styleModal == "detail") {
                      <p>{{currentUser?.role}}</p>
                    }
                    @else {
                      <input formControlName="role" type="text" class="form-control" id="role" required [(ngModel)]="employee.role" name="role"  [ngClass]="{ 'is-invalid': chekform && f['role'].errors }">
                    }
                  
                    @if (chekform && f['role'].errors) {
                      <div class="invalid-feedback">
                        @if (f['role'].errors['required']) {
                        <div>Fullname is required</div>
                        }
                      </div>
                      }
                  </div>
                  <div class="form-group">
                    <label for="unitId">Unit</label>
                    @if (styleModal == "update") {
                     
                      <select *ngIf="currentUser" formControlName="unitId" class="form-control" id="unitId" name="unitId"  [(ngModel)]="currentUser.unitId"  [ngClass]="{ 'is-invalid': chekform && f['unitId'].errors }">
                        <option *ngFor="let unit of units" [value]="unit.id" >{{ unit.name }}</option>
                      </select>
                    } 
                    @else if (styleModal == "detail") {
                      <p>{{getUnitNameById(currentUser.unitId)}}</p>
                    }
                    @else {
                      <select formControlName="unitId" class="form-control" id="unitId" name="unitId"  [(ngModel)]="employee.unitId"  [ngClass]="{ 'is-invalid': chekform && f['unitId'].errors }">
                        <option *ngFor="let unit of units" [value]="unit.id" >{{ unit.name }}</option>
                      </select>
                    }
                  
                   
                      
                    
                  </div>
                  <div style="margin-top: 10px;">
                <button (click)="closeModal()" type="button" class="btn btn-secondary" data-dismiss="modal" style="margin-right: 10px;">Close</button>
                <button type="submit" *ngIf="styleModal === 'null'" class="btn btn-success">Submit</button>
                <button type="submit"   *ngIf="styleModal === 'update'" class="btn btn-success">Update</button>
              </div>
              </form>
            </div>
            <h2 [hidden]="!submitted" style="text-align: center;">Sucess</h2>
        </div>
      </div>
    </div>
  </div>