#userListTable tbody tr:hover td {
  background-color: #e9ecef !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}


.table.blulecoloer thead tr th {
  background-color: #007bff;
  color: #fff;
}

.padding20x {
  padding: 20px;
}


#userListTable {
  width: 100%;
  border-collapse: collapse;
}


table th {
  background-color: #f2f2f2;
  padding: 8px;
  text-align: left;
  border: 1px solid #ddd;
}


table td {
  padding: 8px;
  text-align: left;
  border: 1px solid #ddd;
}


table tr:nth-child(even) {
  background-color: #f2f2f2;
}


table tr:nth-child(odd) {
  background-color: #ffffff;
}

table tbody tr td:last-child {
  text-align: center;
}

.table {

  table-layout: fixed;
  word-wrap: break-word;
}

table .dataTables_scrollBody {
  overflow-y: hidden !important;
}

.dataTables_scrollBody::-webkit-scrollbar {
  display: none;
}

.dataTables_scrollBody {
  -ms-overflow-style: none;
}

.panel {

  margin: 50px;
  max-height: 600px;
  overflow-y: auto;
}

.datatable {
  margin-top: 20px;
}

#userListTable {
  width: 100%;
  table-layout: fixed;
}


.panel-heading {
  text-align: center;
}


table {
  table-layout: fixed;
  word-wrap: break-word;
}

.btn-action {
  font-size: 14px;
  font-weight: 500;
}