<div class = "panel panel-primary">
    <div class="panel-heading">
        <h2>User List</h2>
    </div>
    <div class = "penel-body" style="padding: 20px;">
        <button (click)="add()" type="button" class="btn btn-primary btn-lg" style="margin-bottom: 10px;">Add User</button>
        <app-add-user-modal (parentMethod)="getAll()" (offUpdateMode)="offUpdateMode()" [styleModal]="styleModal"  [currentUser]="currentUser"></app-add-user-modal>
        <table id="userListTable" datatable [dtOptions]="dtoptions" [dtTrigger]="dtTrigger"   class="table table-striped">
            <thead>
                <tr>
                    <th class="w-10">ID</th>
                    <th class="w-40">Full Name</th>
                    <th class="w-30">Email</th>
                    <th class="w-10">Role</th>
                    <th class="w-40">Actions</th>
                </tr>
            </thead>
            <tbody>
                <!-- @for (item of datas; track $index; attr.id="'row-' + item.id") { -->
                <tr *ngFor="let item of datas; let i = index;" [attr.id]="'row-' + item.id" index=i>
                  
                    <td>{{item.id}}</td>
                    <td>{{item.fullName}}</td>
                    <td>{{item.email}}</td>
                    <td>{{item.role}}</td>
                    <td>
                        <!-- <button (click)="deleteUser(item.id)" class="btn btn-danger">Delete</button>
                        <button (click)="detail(item.id)" class="btn btn-info" style="margin-left: 10px">Details</button>
                        <button (click)="onUpdate(item.id)" class="btn btn-secondary" style="margin-left: 10px">Update</button> -->
                    </td>

                </tr>
                <!-- } -->
            </tbody>
        </table>
    </div>
    
</div>
