<div class = "panel panel-primary">
    <div class="panel-heading">
        <h2 class="title">Danh sách đơn vị</h2>
    </div>
    <div  class="datatable">
        <button *ngIf="canAdd" (click)="add()" type="button" class="btn btn-primary btn-lg" style="margin-bottom: 10px;">Thêm đơn vị</button>
        <app-modal-unit (freshpage)="getAllUnits()" [styleModal]="styleModal" [currentUnit]="currentUnit" [listUser]="listUser"></app-modal-unit>
        <table id="userListTable" class="table table-striped blulecoloer">
            <thead>
                <tr class="blulecoloer">
                    <th class="w-5">ID</th>
                    <th class="w-20">Tên</th>
                    <th class="w-40">Mô tả</th>
                    <th class="w-20">Chức năng</th>
                </tr>
            </thead>
            <tbody>
                <!-- *ngFor="let item of datas; let i = index;" [attr.id]="'row-' + item.id" index=i -->
                <!-- @for (item of datas; track $index; ) { -->
                <tr  *ngFor="let item of datas; let i = index;" [attr.id]="'row-' + item.id" index=i>
                    <td>{{item.id}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.description}}</td>
                    <td>
                        <button *ngIf="canDelete"  [disabled]="item.id === 150"  (click)="deleteUnit(item.id)" class="btn btn-action btn-danger">Delete</button>
                        <button (click)="listUserOfUnit(item.id)" class="btn btn-action btn-info" style="margin-left: 10px">Details</button>
                        <button *ngIf="canEdit" (click)="onUpdate(item.id)" class="btn btn-action btn-secondary" style="margin-left: 10px">Update</button>
                      </td>
                </tr>
                <!-- } -->
            </tbody>
        </table>
        <div class="pagination">
            <a *ngIf="currentPage !== 1" (click)="changePage(currentPage - 1)">&laquo;</a>
            <a *ngFor="let page of [].constructor(totalPages); let i = index" [class.active]="i+1 === currentPage" (click)="changePage(i+1)">{{i + 1}}</a>
            <a *ngIf="currentPage !== totalPages" (click)="changePage(currentPage + 1)">&raquo;</a>
          </div>
    </div>
    
</div>
